@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    font-family: 'Merriweather', serif;
    background-color: #333333;
    color: #222222;
    margin: 0;
    overflow-x: hidden;
}

.container {
    background-color: #ffa8d1;
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
    transition: margin-right 2s .5s;

}

.container.show-nav {
    animation: slide 1.5s linear 1s forwards;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #333;
  }

  /* Navbar links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Links - change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

