
body {
    display: flex;
    background-color: #a19aff;
    margin: 0;
    overflow-x: hidden;
    position: center;
}

.container {
    width: 100vw;
    min-height: 100vh;
    padding: 50px;
}

.button-container {
    position: relative;
}

.button {
    height: 200px;
    width: 200px;
    background-color: #ff7979;
    border-radius: 50%;
    position: relative;
}


.button button {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    background: transparent;
    border: 0;
}